
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Shift Freight - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!--<link href="{% static 'assets/img/favicon.png'%}" rel="icon">-->
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/book.css' %}" rel="stylesheet">
    <script src="{% static 'js/addfuel.js' %}" rel="stylesheet"></script>
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.book.css">
    
    <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.book.css" rel="stylesheet"
        type="text/css" />
    <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_arrows.book.css"
        rel="stylesheet" type="text/css" />
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.smartWizard.book.js"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
      
        <link rel="stylesheet" href="css/ionicons.min.css">
        <link rel="stylesheet" href="css/style.css">
    
    

	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Add Fuel Form</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css1/style.css' %}" />

</head>

<body>

    <header id="header" style="background-color: #1f3e5d;" class="header d-flex align-items-center fixed-top">
        <!-- <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="http://127.0.0.1:8000/" class="logo d-flex align-items-center">
                 Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt="">
                <h1>Shift Freight</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="http://127.0.0.1:8000/accounts/driverhome/" class="active">Dashboard</a></li>

                    <li><a href="">Profile</a></li>

                    <li><a href="http://127.0.0.1:8000/accounts/viewfuel/">Fuel Management</a></li>

                    <li><a href="http://127.0.0.1:8000/accounts/driverconsignment/">Consignment</a></li>

                    <li class="dropdown"><a href="#"><span>{{user.name}}</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                      <ul>
                        <li><a href="">Logout</a></li>
                      </ul>
                    </li>

                     <ul class="float-right">
                      <li><a href="#">{{user.name}}</a>
                <ul>
                        <li><a href="/accounts/logout" >LOGOUT</a></li>
                </ul>
              </li>
                      
                  </ul> 
          

                </ul>
            </nav> .navbar 

        </div> -->

    </header><!-- End Header -->
    <!-- End Header -->

    <main id="main" style="margin-top: 20px;">
        <div id="booking" class="section">
            <div class="section-center">
                <div class="container" >
                    <div class="row" >
                        <div class="booking-form">
                            <form action="{%url 'addfuel' %}" method="post" >
                               
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <span class="form-label">Vehicle</span>
                                            <input class="form-control" name="regno" type="text" placeholder="Vehicle registration no.">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <span class="form-label">Added Driver</span>
                                            <input class="form-control" type="text" name="drivername" placeholder="Driver added to the vehicle">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <span class="form-label">Quantity</span>
                                            <input class="form-control" type="text" name="fuel_quantity" placeholder="Quantity">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <span class="form-label">Odometer Reading</span>
                                            <input class="form-control" type="text" name="odometer_reading" placeholder="Odometer reading">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <span class="form-label">Fill Date</span>
                                            <input class="form-control" type="date" name="fill_date" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <span class="form-label">Amount</span>
                                            <input class="form-control" type="text" name="amount" placeholder="Amount">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-label">Comment</span>
                                            <input class="form-control" type="text" name="comment" placeholder="Comment">
                                        </div>
                                    </div>
                                   
                                
                                    <div class="col-md-3">
                                        <div class="form-btn">
                                            <button style="" class="submit-btn">Add Fuel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
       
    </main>
</body>

</html>