{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Shift Freight - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!--<link href="{% static 'assets/img/favicon.png'%}" rel="icon">-->
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'assets1/img/favicon/favicon.ico' %}" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Core CSS -->
  <link rel="stylesheet" href="{% static 'assets1/vendor/css/core.css' %}" />
  <link rel="stylesheet" href="{% static 'assets1/vendor/css/theme-default.css' %}" />
  <link rel="stylesheet" href="{% static 'assets1/css/demo.css' %}" />

  <!-- =======================================================
  * Template Name: Logis - v1.2.0
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<style>
#header{  
  height: 5pc;
}
.container{
  margin-top: 8pc;
  margin-left: 100px;
}
.card-deck{
  margin-top: 3pc;
}
.card{
    height: fit-content;
}
.card-title-1{
  size: 28%;   
  color: aquamarine;
}
.card-title{
  size: 26%;
}
</style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top"  style="background-color: rgb(16, 8, 125);" >
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="http://127.0.0.1:8000/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Shift Freight</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <!-- <li><a href="http://127.0.0.1:8000/" class="active">Dashboard</a></li> -->
          <!-- <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="http://127.0.0.1:8000/register/userviewprofile/">View Profile</a></li>
              <!-- <li><a href="http://127.0.0.1:8000/register/driver/">Driver</a></li> 
              <li><a href="">Update Profile</a></li>
            </ul>
          </li> -->
          <li><a href="" class="active">View Profile</a></li>

          <li><a href="" class="active">Update Profile</a></li>
          
          <li><a href="" class="active">Upload documents</a></li>

          <li><a href="" class="active">Feedback</a></li>

          <!-- <li class="dropdown"><a href="#"><span>Bookings</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="http://127.0.0.1:8000/register/booking2/">Make Booking</a></li>
              <!-- <li><a href="http://127.0.0.1:8000/register/driver/">Driver</a></li> 
              <li><a href="">View Booking</a></li>
            </ul>
          </li> -->
          <!-- <li><a href="http://127.0.0.1:8000/contact/">Contact</a></li> -->
          
          
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header>
  
                <div class="content">
                    <div class="container">
                        <h2>Enter the Pick Up Details</h2><br>
                        <div class="form-group col-md-12">
                            <form action="{% url 'booking1' %}" method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputPickUpCity">Enter the Pick Up City</label>
                                    <input type="text" class="form-control" id="inputPickUpCity" placeholder="Enter Pick Up city" autocomplete="on" name="pickcity" required>
                                </div>
                                </div><br>
                                <div class="form-group col-md-6">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="paddress1" required>
                                </div><br>
                                <div class="form-group col-md-6">
                                <label for="inputAddress2">Address 2</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment or floor" name="paddress2" required>
                                </div><br>
                                <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputDistrict">District</label>
                                        <select name="pdistrict" class="form-control" required>
                                            <option selected>Choose...</option>
                                            <option value="Alappuzha">Alappuzha</option>
                                            <option value="Ernakulam">Ernakulam</option>
                                            <option value="Idukki">Idukki</option>
                                            <option value="Kannur">Kannur</option>
                                            <option value="Kasaragod">Kasaragod</option>
                                            <option value="Kollam">Kollam</option>
                                            <option value="Kottayam">Kottayam</option>
                                            <option value="Kozhikode">Kozhikode</option>
                                            <option value="Malappuram">Malappuram</option>
                                            <option value="Palakkad">Palakkad</option>
                                            <option value="Pathanamthitta">Pathanamthitta</option>
                                            <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                            <option value="Thrissur">Thrissur</option>
                                            <option value="Wayanad">Wayanad</option>
                                        </select>
                                </div><br>
                                <div class="form-group col-md-4">
                                    <label for="inputState">State</label>
                                    <select id="inputState" name="pstate" class="form-control" required>
                                    <option selected>Choose...</option>
                                    <option value="Kerala">Kerala</option>
                                    </select>
                                </div><br>
                                <div class="form-group col-md-2">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" id="inputZip" name="pzip" required>
                                </div><br>
                                </div>
                                <!-- <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                    Check me out
                                    </label>
                                </div>
                                </div> -->
                                <a href="http://127.0.0.1:8000/accounts/booking2/"><button class="btn btn-primary">Next</button></a>
                            </form>
                        </div>
                        <!-- <div class="form-group col-md-6">
                            <img src="{% static 'imafes/pickupimg.jpg'% }">
                        </div> -->
                    </div>
                        
                    
                </div>
            </div>
        </div>
        
    </body>
</html>