{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>User Driver OTP Login</title>
</head>
<body>
	<h1>User Driver OTP Login</h1>
	<form  method="POST"  action="{% url 'drlog' %}">
        {% csrf_token %}
		<label for="phone_number">Phone Number:</label>
		<input type="tel" id="phone_number" name="phone_number" required>

			   <button type="submit" onkeyup="sendOTP(this)" >Submit</button>	  		     
	</form>
	<script>
	
		function sendOTP() {
			// Code to send OTP to the phone number entered
			alert("OTP sent to phone number.");
		}

		
	</script>
</body>
</html>





