{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Shift Freight - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!--<link href="{% static 'assets/img/favicon.png'%}" rel="icon">-->
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis - v1.2.0
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="http://127.0.0.1:8000/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Shift Freight</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="http://127.0.0.1:8000/" class="active">Home</a></li>
          <li><a href="http://127.0.0.1:8000/about/">About</a></li>
          
          <li><a href="http://127.0.0.1:8000/accounts/Reg/">Register</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Register As</span> <i class="bi bi-chevron-down dropdown-indicator" name="role" id="role"></i></a>
            <ul>
              <li><a href="http://127.0.0.1:8000/accounts/consignorReg/"  value="consignor" >Consigner</a></li>
              <li><a href="http://127.0.0.1:8000/accounts/commonmanReg/" value="commonman" >Comman Man</a></li>
            </ul>
          </li> -->
          <div class="dropdown">
            <a class=" dropdown-toggle" href="http://127.0.0.1:8000/login/"  id="dropdownMenuLink">
             Login
           </a>
           <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
             <li><a class="dropdown-item" href="http://127.0.0.1:8000/admin">Admin Panel</a></li></ul>
         </div>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Register</h2>
              <p>One stop solution for your transport requirements. We the best Packers and Movers In India, transportation company use the international quality packing materials to protect your goods from damage, moisture or dust.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li>Register</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Get a Quote Section ======= -->
    <section>
      <div class="container">

        <div class="row g-0">

          <div class="col-lg-5 quote-bg" style="background-image: url(assets/img/quote-bg.jpg);"></div>

          <div class="col-lg-7">
            <form action="{%url 'registration' %}" method="post" >
              {% csrf_token %}
              <h3>Enter the details</h3>
              <!-- <p>Our effectual services have always helped us in taking the packing and relocation business to the great heights, ensuring to move forward and achieve many accreditations and accolades in various fields.</p> -->
              <div class="row gy-4">

                <div class="col-md-6">
                  <!-- <input type="text" name="role" id="name" class="form-control" placeholder="Register as" required> -->
                  <select class="form-control" name="role" id="role">
                    <option selected>Register as</option>
                    <option value="is_consignor">Consignor</option>
                    <option value="is_commonman">Common Man</option>
                </select>
                </div>

                <div class="col-md-6">
                  <input type="text" name="name" id="name" class="form-control" placeholder="Company Name or Full Name"  required>
                  
                </div>

                <div class="col-md-6">
                  <input type="text" name="address1" class="form-control" placeholder="Address line 1"  required>
                  
                </div>

                <div class="col-md-6">
                  <input type="text" name="address2" class="form-control" placeholder="Address line 2"  required>
                  
                </div>

                <div class="col-md-6">
                  <input type="text" name="city" class="form-control" placeholder="City"  required>
                 
                </div>

                <div class="col-md-6">
                  <input type="text" name="pincode" class="form-control" placeholder="Pincode"  required>
                  
                </div>
              

                <!-- <div class="col-lg-12">
                  <h4>Your Personal Details</h4>
                </div> -->

                <div class="col-md-12">
                  <select name="district" class="form-control" required>
                    <option selected>District</option>
                    <option value="Alappuzha">Alappuzha</option>
                      <option value="Ernakulam">Ernakulam</option>
                      <option value="Idukki">Idukki</option>
                      <option value="Kannur">Kannur</option>
                      <option value="Kasaragod">Kasaragod</option>
                      <option value="Kollam">Kollam</option>
                      <option value="Kottayam">Kottayam</option>
                      <option value="Kozhikode">Kozhikode</option>
                      <option value="Malappuram">Malappuram</option>
                      <option value="Palakkad">Palakkad</option>
                      <option value="Pathanamthitta">Pathanamthitta</option>
                      <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                      <option value="Thrissur">Thrissur</option>
                      <option value="Wayanad">Wayanad</option>
                  </select>
                </div>

                <!-- <div class="col-md-12">
                  <input type="text" class="form-control" name="cin" id="cin" placeholder="Corporate Identification Number (CIN)" required>
                </div> -->

                <div class="col-md-12">
                  <input type="text" class="form-control" name="phone"  placeholder="Phone"  required>
                 
                </div>

                <div class="col-md-12 ">
                  <input type="email" class="form-control" name="email"  placeholder="Email"  required>
                  
                </div>

                <div class="col-md-12 ">
                  <input type="password" class="form-control" name="password" id="pass1" placeholder="Password" required>
                  
                </div>

                <div class="col-md-12 ">
                  <input type="password" class="form-control" name="cpassword" id="pass2" placeholder="Confirm Password"  required>
                  
                </div>

                <!-- <div class="col-md-12">
                  <textarea class="form-control" name="business" rows="6" id="business" placeholder="Describe Business Activity" required></textarea>
                </div> -->

                <div class="col-md-12 text-center">
                  <!-- <div class="loading">Loading</div>
                  <div class="error-message"></div> -->
                  <!-- <div class="sent-message">Registration request has been sent successfully. Thank you!</div> -->

                  <input type="submit" value="Register" class="btn btn-block btn-primary">
                </div>

              </div>
            </form>
            <!-- <div>
              {% for message in messages %}
              <h3>{{message}}</h3>
              {% endfor %}
            </div> -->

          </div><!-- End Quote Form -->

        </div>

      </div>
    </section><!-- End Get a Quote Section -->

  </main><!-- End #main -->

  

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>
  <!-- <script type="text/javascript">
    function nameValidate(inputTxt){
    
    var regx = /^[a-zA-Z]+ [a-zA-Z]+$/;
    var textField = document.getElementById("nameError");
      
    if(inputTxt.value != '' ){
        if(inputTxt.value.length >= 4){
            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";
                    
            }else{
                textField.textContent = 'only characters allowded';
                textField.style.color = "red";
            }  
        }else{
            textField.textContent = 'your input mut me more than two chracters';
            textField.style.color = "red";
        }   
    }
    else{
        textField.textContent = 'your input is empty';
        textField.style.color = "red";
    }
  }

  function emailValidation(inputTxt){
    // ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$
    var regx = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;
    var textField = document.getElementById("email");

    if(inputTxt.value != '' ){
        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";
        }else{
            textField.textContent = 'email is not valid!!!';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your input is empty';
        textField.style.color = "red";
    }
}


function phoneValidation(inputTxt){

var regx = /^[6-9][0-9]{9}$/;
var textField = document.getElementById("contact");

if(inputTxt.value != '' ){
    if(inputTxt.value.match(regx)){
        textField.textContent = '';
        textField.style.color = "green";
        }else{
            textField.textContent = '**not valid phone number';
            textField.style.color = "red";
        }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}

function passwordValidation(inputTxt){

var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
var textField = document.getElementById("password");

if(inputTxt.value != '' ){
        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
            textField.style.color = "red";
        }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}

function cpasswordValidation(inputTxt){

var regx =  document.getElementById("pass1").value;
var regy =  document.getElementById("pass2").value;
var textField = document.getElementById("confirmpassword");
var textField1 = document.getElementById("password");

if(inputTxt.value != '' ){
        if(regx == regy){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'not match';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = '';
        textField.style.color = "red";
    }
}
function addressValidation(inputTxt){

var regx = /^[a-zA-Z-()]+$/;
var textField = document.getElementById("address");

if(inputTxt.value != '' ){

    if(inputTxt.value.length >= 4){

        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'only characters allowded';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your input mut me more than two chracters';
        textField.style.color = "red";
    }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}
function cityValidation(inputTxt){

var regx = /^[a-zA-Z]+$/;
var textField = document.getElementById("city");

if(inputTxt.value != '' ){

    if(inputTxt.value.length >= 1){

        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'only characters allowded';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your input mut me more than two chracters';
        textField.style.color = "red";
    }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}


function pincodeValidation(inputTxt){

var regx = /^[6][0-9]{5}$/;
var textField = document.getElementById("pincode");

if(inputTxt.value != '' ){
        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'only valid pincode';
            textField.style.color = "red";
        }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}

</script> -->
</body>

</html>