{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Shift Freight - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!--<link href="{% static 'assets/img/favicon.png'%}" rel="icon">-->
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis - v1.2.0
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <!-- <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"5b2e3fe765f5a6688435d709ebae5ab7","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script> -->
<style>
  .header{
    height: 30px;
  }
</style>
</head>

<body>
<style>
    .container{
                margin-top: 10pc;
            }
            
</style>
  <!-- ======= Header ======= -->
  <header id="header" style="background-color: #1b1e4d;" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="http://127.0.0.1:8000/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Shift Freight</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="http://127.0.0.1:8000/accounts/consignorhome/" class="active">Dashboard</a></li>

                <li><a href="http://127.0.0.1:8000/accounts/consignorprofile/">Profile</a></li>

                <!-- <li><a href="http://127.0.0.1:8000/accounts/book/">Booking</a></li> -->
                <li class="dropdown"><a href="">Booking<i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="http://127.0.0.1:8000/accounts/book/">Book Truck</a></li>
                    <li><a href="http://127.0.0.1:8000/accounts/viewbooking/">View Bookings</a></li>
                  </ul>
                </li>

                <li class="dropdown"><a href="#"><span>{{user.name}}</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                  </ul>
                </li>

                <!-- <ul class="float-right">
                  <li><a href="#">{{user.name}}</a>
            <ul>
                    <li><a href="/accounts/logout" >LOGOUT</a></li>
            </ul>
          </li>
                  
              </ul> -->
      

            </ul>
        </nav><!-- .navbar -->

    </div>

</header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div>
    <div class="content">
        <div class="container">
            <h3>Booking Status</h3>
    
            <table class="table">
                <tr>
                    <td><b>#</b></td>
                    <td><b>Pickup City</b></td>
                    <td><b>Drop City</b></td>
                    <td><b>Type of Goods</b></td>
                    <td><b>Booking Date</b></td>
                    <td><b>Status</td>
                    <td><b>View Booking</td>
                    <td><b>Payment</td>
                </tr>
                {% for t in vbt %}
                
                <tr>
                    <td>#</td>
                    <td>{{t.p_cit}}</td>
                    <td>{{t.d_cit}}</td>
                    <td>{{t.good_typ}}</td>
                    <td>{{t.bookingdat}}</td>
                    <td>
                      {% if t.statu == 'Approved' %}
                            <button class="button btn btn-success" >{{t.statu}}</button></t>
                      {% else %}            
                            <button class="button btn btn-info" >{{t.statu}}</button> 
                      {% endif %}
                      
                    </td>
                    <td>
                      {% if t.statu == 'Approved' %}
                      <a href=""><button class="button btn btn-primary">View details</button></a>
                      {% endif %}
                    </td>
                    <td>
                      {% if t.statu == 'Approved' %}
                      <button class="boxed-btn"  id="rzp-button1" ><b><font size="3" ><i> Pay Now</i></font></b></button>
                      {% endif %}
                    </td>
                </tr>
                {% endfor %}
                
            </table>
            <!-- <form action="" method="">
                {% csrf_token %}
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Enter the Pick Up city">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Enter the Drop city">
                  </div>
                </div>
                <br>
                <br>
                <center><button type="submit" class="btn btn-primary">Submit</button></center>
              </form> -->
        </div>
            
        
    </div>
</div>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "xXjQB9dasccu8vy1hE1cufGy",
    "amount": "50000",
    "currency": "INR",
    "name": "TRANSPORTMANAGEMENTSYSTEM",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
   "handler": function (response){
                                console.log("success")
                                var form = document.getElementById["myform"];


                                var a = response.razorpay_payment_id;

                                // alert({{order_id}})

                                window.location.href = 'http://127.0.0.1:8000/accounts/viewbooking'

                            },
    "prefill": {
        "name": "{{user.f_name}}",
        "email": "{{usr_lg.email}}",
        "contact": "8075901728"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }

};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>

</body>
</html>
